/*
 --------------------------------------------------------------------------------
  ___ _  _ ___ ___  ___  _   _ ___   _   ___ ___   _____ _  _ ___ __  __ ___ ___ 
/__| || |_ _| _ \/ _ \| | |/__| /_\/__|_ _| |_   _| || | __|  \/  | __/ __|
 \__ \ __ || ||  /(_) | |_| \__ \/ _ \ (_ || |    | | | __ | _|| |\/| | _|\__ \
 |___/_||_|___|_|_\\___/ \___/|___/_/ \_\___|___|   |_| |_||_|___|_|  |_|___|___/
                                                                                 
 - ♤ LAYOUT NO.6; VARIANT TWO. --------------------------------------------------
 -- ♤ DESIGN AND CODING BY NYMPHIAE (SHIROUSAGITHEMES). -------------------------
 --- ♤ GIF FROM "KOSÉ ESPRIQUE" CM FEATURING NAMIE AMURO. -----------------------
 ---- ♤ FONTS: ROBOTO, SATISFY, DEJAVU SANS. ------------------------------------
 --------------------------------------------------------------------------------
 update 2022-sep-04 by Valerio Lyndon
 */

@\import "https://fonts.googleapis.com/css?family=Roboto|Satisfy";

@font-face {
    font-family: 'DejaVu Sans';
    src: url('https://dl.dropboxusercontent.com/u/188037746/Fonts/DejaVuSans.eot');
    src: url('https://dl.dropboxusercontent.com/u/188037746/Fonts/DejaVuSans.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/188037746/Fonts/DejaVuSans.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/188037746/Fonts/DejaVuSans.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/188037746/Fonts/DejaVuSans.svg#dejavu_sans') format('svg');
}

*
{text-transform: lowercase;
font-weight: normal;
text-decoration: none;}

body
{font-family: Roboto, Verdana, Arial, DejaVu Sans;
font-size: 9pt;
color: #777;
cursor: default;
background: #ffe2f1;}

a
{color: #555;
cursor: pointer;
transition: .45s;}

tr:hover td[class^="td"]:not(.borderRBL)
{color: #222;}
tr:hover td[class^="td"]:not(.borderRBL) a
{color: #e05f9f;}
tr:hover .animetitle
{letter-spacing: 0.05em;}

#mal_cs_otherlinks:before
{display: block;
content: "";
box-sizing: border-box;
position: fixed;
top: calc(50% - 125px);
left: calc((((100% - 630px)/2) - 150px)/2);
width: 150px;
height: 150px;
border: 1px solid #f6b0cf;
background-color: #ffffff;
z-index: 5;}

#copyright:before
{display: block;
content: "";
width: 120px;
height: 120px;
position: fixed;
top: calc(50% - 125px);
left: calc((((100% - 630px)/2) - 150px)/2);
margin: 15px;
background-image: url(https://dl.dropboxusercontent.com/s/rall1l5a1ievnj8/sylveon-nont.gif);
background-size: cover;
z-index: 10 !important;}

#list_surround
{padding: 0 15px 15px 15px;
width: 630px;
margin: auto;
left: 0%;
right: 0%;
top: 75px;
overflow-y: scroll;
bottom: 75px;
background-color: #fff;
position: absolute;
box-sizing: border-box;
border: 1px solid #f6b0cf;}

.header_title
{font-family: Satisfy;
font-size: 15pt;
text-align: center;
color: #e05f9f;
padding: 15px;}

.td1, .td2, .table_header, .category_totals
{height: 20px;
line-height: 20px;
padding: none !important;
transition: .45s;}

td[class^="status_"] a
{display: block;
width: 150px;
left: calc((((100% - 630px)/2) - 150px)/2);
height: 16px;
line-height: 16px;
position: fixed;
border-left: 1px solid #f6b0cf;
border-right: 1px solid #f6b0cf;
text-align: center;
padding: 0 2px 0 2px;
box-sizing: border-box;
letter-spacing: -0.05em;
transition: all .45s ease;
background-color: #fff;}

td[class^="status_"] a:hover
{letter-spacing: 0.05em;
color: #e05f9f;}

td[class^="status_"]:first-of-type a:before, td[class^="status_"]:last-of-type a:before
{content: "";
position: fixed;
display: block !important;
width: 150px;
left: calc((((100% - 630px)/2) - 150px)/2);
border-left: 1px solid #f6b0cf;
border-right: 1px solid #f6b0cf;
height: 15px;
width: 150px;
background: #fff;
box-sizing: border-box;
pointer-events: none;}
td[class^="status_"]:first-of-type a:before
{top: calc(50% + 33px);
border-top: 1px solid #f6b0cf;}
td[class^="status_"]:last-of-type a:before
{top: calc(50% + 144px);
border-bottom: 1px solid #f6b0cf;}

td[class^="status_"]:first-of-type a
{top: calc(50% + 48px);}

td[class^="status_"]:nth-of-type(2) a
{top: calc(50% + 64px);}

td[class^="status_"]:nth-of-type(3) a
{top: calc(50% + 80px);}

td[class^="status_"]:nth-of-type(4) a
{top: calc(50% + 96px);}

td[class^="status_"]:nth-of-type(5) a
{top: calc(50% + 112px);}

td[class^="status_"]:last-of-type a
{top: calc(50% + 128px);}

.table_header, .category_totals
{opacity: 0.75;}

.category_totals
{text-align: center;
letter-spacing: -0.05em;}

a[title="Click to increase your watched ep number by one"]
{opacity: 0;
transition: .45s;
display: block;
position: absolute;
right: 10px;
margin-top: -20px;}
tr:hover a[title="Click to increase your watched ep number by one"]
{opacity: 1;}

div[style="float: right;"]
{opacity: 0;
font-size: 0pt;
color: transparent;
transition: .45s;
margin-top: 6px;
vertical-align: top;
white-space: nowrap;
height: 10px;
width: 20px;}

tr:hover div[style="float: right;"]
{opacity: 1;}

td[class^="td"] .List_LightBox, td[class^="td"] a[href*="edit"], a[title="View More Information"]
{font-size: 0px !important;
display: inline-block;
height: 8px !important;
width: 8px !important;
cursor: help;
background-color: #777;
background-image: url(https://dl.dropboxusercontent.com/s/4iysss9ukkvxg4j/aem.png);
transition: .45s;}

td[class^="td"] .List_LightBox:hover, td[class^="td"] a[href*="edit"]:hover, a[title="View More Information"]:hover
{background-color: #e05f9f;}

td[class^="td"] .List_LightBox
{background-position: left top;}

td[class^="td"] a[href*="edit"]
{background-position: 16px top;}

a[title="View More Information"]
{background-position: 8px top;
margin-left: 3px;}

.borderRBL
{line-height: 9pt !important;
background: #ffe2f1;
color: #e05f9f;
padding: 0 10px 10px 10px;
border: 10px solid #fff !important;
font-size: 7pt;}

.borderRBL a
{color: #e05f9f;
text-shadow: 1px 1px 0px #fff;}

.borderRBL a[href*="id="]
{border-bottom: 1px dotted #e05f9f;}

.borderRBL br
{display: block !important;}

.borderRBL:before
{content: "";
display: block;
height: 12px;
width: 12px;
position: relative;
top: -6px;
left: 10px;
background-color: #ffe2f1;
transform: rotate(45deg);}

#mal_control_strip:before
{display: block;
box-sizing: border-box;
content: "";
position: fixed;
top: calc(50% - 159px);
left: calc((((100% - 630px)/2) - 150px)/2);
width: 150px;
height: 26px;
border: 1px solid #f6b0cf;
background-color: #ffffff;}

#mal_cs_listinfo a[href*="profile"], #mal_cs_listinfo a[onclick="$(this).parent().submit();"], #mal_cs_links .List_LightBox, #mal_cs_links a[href="/"],
#mal_cs_otherlinks a[href="/login.php"], #mal_cs_otherlinks a[href="/register.php"], #mal_cs_otherlinks a[href="/forum/?topicid=515949"], #mal_cs_pic a
{display: block;
position: fixed;
height: 16px;
width: 16px;
background-color: #777 !important;
font-size: 0pt !important;
top: calc(50% - 154px);
transition: .45s;}

#mal_cs_listinfo a[href*="profile"], #mal_cs_listinfo a[onclick="$(this).parent().submit();"], #mal_cs_links .List_LightBox, #mal_cs_links a[href="/"]
{background-image: url(https://dl.dropboxusercontent.com/s/mrh1bg18mce7ffn/inbtns.png) !important;}

#mal_cs_otherlinks a[href="/login.php"], #mal_cs_otherlinks a[href="/register.php"], #mal_cs_otherlinks a[href="/forum/?topicid=515949"], #mal_cs_pic a
{background-image: url(https://dl.dropboxusercontent.com/s/7gky5ssgk9w91lf/outbtns.png) !important;}

#mal_cs_listinfo a[href*="profile"]:hover, #mal_cs_listinfo a[onclick="$(this).parent().submit();"]:hover, #mal_cs_links .List_LightBox:hover, #mal_cs_links a[href="/"]:hover,
#mal_cs_otherlinks a[href="/login.php"]:hover, #mal_cs_otherlinks a[href="/register.php"]:hover, #mal_cs_otherlinks a[href="/forum/?topicid=515949"]:hover, #mal_cs_pic a:hover
{background-color: #e05f9f !important;}

#mal_cs_listinfo a[href*="profile"], #mal_cs_otherlinks a[href="/register.php"]
{left: calc((((100% - 630px)/2) - 150px)/2 + 77px);
background-position: 32px top;}

#mal_cs_listinfo a[onclick="$(this).parent().submit();"], #mal_cs_otherlinks a[href="/forum/?topicid=515949"]
{left: calc((((100% - 630px)/2) - 150px)/2 + 97px);
background-position: 16px top;}

#mal_cs_links .List_LightBox, #mal_cs_pic a
{left: calc((((100% - 630px)/2) - 150px)/2 + 37px);
background-position: left top;}

#mal_cs_links a[href="/"], #mal_cs_otherlinks a[href="/login.php"]
{left: calc((((100% - 630px)/2) - 150px)/2 + 57px);
background-position: -16px top;}

#mal_control_strip
{position: fixed;
top: -100px !important;}

#list_surround br, #mal_cs_pic img
{display: none;}

.animetitle
{display: inline-block !important;
vertical-align: top;
height: 20px;
line-height: 20px;
max-width: 335px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
letter-spacing: 0em;
transition: .45s;}

.animetitle + small
{color: #f6b0cf;
font-size: 7pt;
height: 20px;
display: inline-block !important;
vertical-align: top;
line-height: 21px;}

@-moz-document url-prefix() {

	.animetitle {
	max-width: 323px;
	}

    .animetitle + small {
    line-height: 23px;
    }
}

.animetitle + small:before
{content: "[ ";}

.animetitle + small:after
{content: " ]";}

#grand_totals
{display: block;
background: #ffe2f1;
color: #e05f9f;
padding: 0 13px 13px 13px;
text-align: center;
letter-spacing: -0.05em;
margin-top: 15px;}

#grand_totals:before
{content: "";
display: block;
height: 12px;
width: 12px;
position: relative;
top: -6px;
left: 281px;
background-color: #ffe2f1;
transform: rotate(45deg);}

#copyright
{color: #f6b0cf;
margin-bottom: 10px;}
#recaptcha-terms {
	display: none;
}

#copyright:after
{display: block;
content: "design and coding by nymphiae";
color: #f6b0cf;
margin-bottom: 15px;}

::-webkit-scrollbar
{width: 6px;
background-color: #fff;
border-left: 1px solid #f6b0cf;}
::-webkit-scrollbar-thumb
{background-color: #f6b0cf;}

::-moz-selection
{color: #e092b5;
background: #f3f3f3;
text-shadow: none;}
::selection
{color: #e092b5;
background: #f3f3f3;
text-shadow: none;}